*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
.idea/
services.yml
tethysapp/aqwatch/aqwatch/node_modules/
build/
dist/
tethysapp/aqwatch/workspaces/app_workspace/MapImage/
tethysapp/aqwatch/__pycache__/